/*
btn color + line : #02E0D0
btn font -'Hammersmith One', sans-serif;
text-color-light : #FCFCFC
text-font : roboto
title-font : 'Playfair Display', serif;


*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

/*Section-3-Kim*/
.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./img/bgk-middle.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.section-3 img {
  width: 2.5rem;
  padding-bottom: 0.4rem;
}

.section-3 h5 {
  color: #fcfcfc;
  font-size: 0.4rem;
}

.section-3 img:hover {
  cursor: pointer;
}
/*End Section-3-Kim*/

/*Section-4-Kim*/
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Section-4-Top*/
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top h2 {
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
  color: #454545;
  margin-top: 2rem;
}
.top p {
  color: #b2b2b2;
  font-family: 'Playfair Display', serif;
  margin-top: 0.5rem;
}
.top .line {
  margin-top: 0.5rem;
  width: 2rem;
  border-bottom: 0.7px solid #b2b2b2;
}
/*Section-4-Bottom*/
.bottom {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.bottom .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}
.bottom img {
  width: 1.4rem;
}
.bottom p {
  text-align: justify;
  word-wrap: balance;
}

/*End Section-4-Kim*/
/* Section_2 by Rashmi */

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2--right > * {
  margin-top: 2rem;
}

.section-2--left {
  margin-right: 6rem;
}

.section-2--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  align-content: flex-start;
  width: 50%;
}

.section-2--right h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.7rem;
  color: #454545;
}

.section-2--right > p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #b2b2b2;
}

.section-2 img {
  width: 20rem;
}

.section-2 button {
  width: 9rem;
  padding: 1rem 0.5rem;

  background-color: white;
  color: rgb(79, 232, 221);
  border-width: 1px;
  border-color: rgb(79, 232, 221);

  margin-bottom: 1rem;
  font-size: 1rem;

  font-family: 'Hammersmith One', sans-serif;
}
