/*
btn color + line : #02E0D0
btn font -'Hammersmith One', sans-serif;
text-color-light : #FCFCFC
text-font : roboto
title-font : 'Playfair Display', serif;


*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
/* Section-1 Armi */

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/bgk-header.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

nav .logo1 {
  width: 30px;
  display: inline-block;

}


nav .nav-links {
  list-style: none;
  display: flex;
}

nav .nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

nav .nav-item:hover {
  color: #72ead2;
}



nav ul {
  list-style: none;
  margin-left: auto;
}

nav li{
  margin-right: 10px;
  color:white;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  margin-top: 3rem;
  width: 80%;
}

.hero h1{
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.hero p{
  width: 60%;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.9;
}

.hero .line {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 2rem;
  border-bottom: 0.7px solid #b2b2b2;
}

.hero button {
  width: 4rem;
  background-color: transparent;
  color: #4fe8dd;
  border: 0.6px solid #4fe8dd;
  font-size: 0.5rem;
  font-weight: 600;
  padding: 0.3rem 0;
  font-family: 'Hammersmith One', sans-serif;
  margin-top: 0.5rem;
}


/* Section-2-Rashmi */

.section-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.section-2--left {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 50%;
  margin-right: 2rem;
}

.section-2--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 50%;
}

.section-2--right h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #454545;
}

.section-2--right > p {
  margin-top: 0.5rem;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.6rem;
  color: #b2b2b2;
}

.section-2 img {
  width: 7rem;
  height: auto;
}

.section-2 button {
  width: 4rem;
  background-color: #ffffff;
  color: #4fe8dd;
  border: 0.6px solid #4fe8dd;
  font-size: 0.5rem;
  font-weight: 600;
  padding: 0.3rem 0;
  font-family: 'Hammersmith One', sans-serif;
  margin-top: 0.5rem;
}

/* Section-2 End-Rashmi */

/*Section-3-Kim*/
.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./img/bgk-middle.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.section-3 img {
  width: 2.5rem;
  padding-bottom: 0.4rem;
}

.section-3 h5 {
  color: #fcfcfc;
  font-size: 0.4rem;
}

.section-3 img:hover {
  cursor: pointer;
}
/*End Section-3-Kim*/

/*Section-4-Kim*/
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}
/*Section-4-Top*/
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.top h2 {
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
  color: #454545;
  margin-top: 2rem;
}
.top p {
  color: #b2b2b2;
  font-family: 'Playfair Display', serif;
  margin-top: 0.5rem;
}
.top .line {
  margin-top: 0.5rem;
  width: 2rem;
  border-bottom: 0.7px solid #b2b2b2;
}
/*Section-4-Bottom*/
.bottom {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(2, 10rem);
  padding: 1rem;
}

.bottom .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.bottom img {
  height: 1.4rem;
}
.bottom p {
  margin-top: 0.3rem;
  font-size: 0.5rem;
  color: #b2b2b2;
  font-weight: 200;
  line-height: 8px;
  text-align: center;
}
.bottom h4 {
  font-size: 0.5rem;
  color: #454545;
  margin-top: 1rem;
}

.card-2 {
  border-bottom: 0.3px solid rgba(178, 178, 178, 0.6);
  border-right: 0.3px solid rgba(178, 178, 178, 0.6);
  border-left: 0.3px solid rgba(178, 178, 178, 0.6);
}
.card-1,
.card-3 {
  border-bottom: 0.3px solid rgba(178, 178, 178, 0.6);
}

.card-5 {
  border-right: 0.3px solid rgba(178, 178, 178, 0.6);
  border-left: 0.3px solid rgba(178, 178, 178, 0.6);
}

/*End Section-4-Kim*/
